@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
header{
    background-color: maroon;
    color:aqua;
    padding:20px;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    vertical-align:middle;
}
body{
    background-color: khaki;
}
.item{
    border: 2px solid blue;
    display:flex;
    align-items:center;
}
img{
    max-width:250px;
    max-height:250px;
    padding: 5px 5px 5px 5px;
}
.energy{
    max-width:40%;
    height:250px;
}
.buy{
    max-width:40%;
    height:250px;
}
footer{
    background-color: navy;
    color:white;
    padding: 20px
}